pipeline/prodpipelien2.json
{
	"name": "prodpipelien2",
	"properties": {
		"activities": [
			{
				"name": "exeonprem",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "onprem_Ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "alertmail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Executesqltodaatlake",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-19.centralindia.logic.azure.com:443/workflows/a96650a94de84555a08a100db7489b33/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=z2Kymw7KvihaoWKE34GnY5FS890ppRd3Ekgj_c1JC6U",
					"body": {
						"value": "{\n    \"Pipeline_Name\": \"@{pipeline().Pipeline}\",\n    \"Run_ID\": \"@{pipeline().RunId}\",\n    \"Status\": \"@{activity('Executesqltodaatlake').Status}\",\n    \"Error\": \"@{activity('Executesqltodaatlake').Error}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Executesqltodaatlake",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SqltoDatalake",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"annotations": []
	}
}